<template>
    <div>
        <HelloWorld v-for="comments in rootComments" :key="comments.id" :commentId="comments" />
    </div>
</template>

<script>
import { mapState } from 'vuex'
import HelloWorld from './HelloWorld.vue'

export default {
  name: 'Comments',
  components: {
    HelloWorld
  },
  computed: {
    ...mapState(['comments']),
    rootComments: state => {
      return state.comments.filter(todo => !todo.childOf)
    },
  }
}
</script>