<template>
    <article class="media">
      <div class="media-left"></div>
      <div class="media-content headerDivider">
        <div class="content">
          <strong>Barbara Middleton</strong><br>
          {{  commentId.text  }}
          <br>
          <a @click="comments.push({id: Math.floor(Math.random() * Math.floor(10000)), text: '123', childOf: commentId.id})">Reply</a>
        </div>
        <HelloWorld v-for="child in children" :key=child.id :commentId=child />
      </div>
    </article>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'HelloWorld',
  props: ['commentId'],
  computed: {
    ...mapState(['comments']),
    children: function() {
      console.log(this.commentId.id)
      return this.comments.filter(todo => todo.childOf==this.commentId.id)
    }
  }
}
</script>

<style lang="stylus" scoped>
.headerDivider {
     border-left:1px solid #38546d;
}
</style>